.container-mainCronometro {
    background-color: var(--cor-container-preta);
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.element-dataHoraCronometro {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-dataCronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-formatadaCronometro {
    display: flex;
    gap: 12.5px;
    justify-content: center;
    align-items: center;
}

.hora-formatadaCronometro {
    display: flex;
    gap: 12.5px;
    justify-content: center;
    align-items: center;
}

.element-tempoCronometro {
    font-size: var(--font-extra-grande);
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 25px;
    border: var(--borda-5px-verde);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.element-btnCronometro {
    display: flex;
    height: 100%;
    gap: 50px;
}

.btn-padraoCronometro {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-padraoCronometro p{
    font-size: var(--font-pequena);
    font-weight: bold;
}

.btn-playCronometro {
    background-color: var(--cor-botao-amarelo);
}

.btn-zeraCronometro {
    background-color: var(--cor-botao-vermelho);
}

.btn-finalizarCronometro {
    background-color: var(--cor-botao-verde);
}