.container-mainHistorico {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: var(--cor-container-preta);
    border-radius: 5px;
}

.element-faixaHistorico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-dataFormatadaHistorico {
    border-bottom: var(--borda-3px-verde);
    padding: 10px 20px;
    width: 100%;
    background-color: var(--cor-item-preta);
    border-radius: 5px 5px 0px 25px;
    margin-bottom: 25px;
}

.item-infosHistorico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    width: 85%;
    gap: 25px;
    background-color: var(--cor-container-cinza);
    /* cor mais especifica para o container cinza */
}

.subItem-disciplinaHistorico {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.subItem-disciplinaHistorico p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    text-align: justify;
    color: var(--font-preta);
}

.txt-planoHistorico{
    font-size: var(--font-pequena);
    background-color: var(--cor-botao-branco);
    width: fit-content;
    padding: 0px 10px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.txt-topicoHistorico{
    margin-left: 10px;
}

.txt-subtopicoHistorico{
    margin-left: 20px;
}

.subItem-estatisticaHistorico {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.5px;
    width: 395px;
    background-color: var(--cor-item-preta);
    border-radius: 5px;
}

.estatisticas-padraoHistorico {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 5px;
}

.subItem-tiposEstudosHistorico {
    display: flex;
    gap: 12.5px;
    width: 335px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.btnTiposEstudos-padraoHistorico {
    background-color: var(--cor-botao-verde);
    font-size: var(--font-pequena);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}

.subItem-opcoesHistorico {
    display: flex;
    gap: 12.5px;
    padding: 10px;
    cursor: pointer;
}

.delete-opcoesHistorico {
    color: var(--cor-botao-vermelho);
}

.edit-opcoesHistorico {
    color: var(--cor-botao-amarelo);
}

.item-simuladoHistorico{
    background-color: var(--cor-item-preta);
    width: 85%;
    padding: 5px;
    text-align: center;
}

.item-comentarioHistorico {
    width: 85%;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--cor-item-branco);
    margin-bottom: 25px;
    border-top: var(--borda-5px-verde);
    padding: 10px;
}

.item-comentarioHistorico p {
    color: var(--font-preta);
}

.comentario-historico, .sem-comentario {
    color: var(--font-preta);
    padding: 10px 0px;
    text-align: justify;
    font-style: italic;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}