@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container-mainApp {
  width: 100%;
  padding: 10px;
  background-color: var(--cor-fundo);
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}


